version: '3.8'

services:
  cura:
    image: getsentrix/docker-cura:latest
    container_name: cura
    ports:
      - "3000:3000"
      - "3001:3001"
    environment:
      - CUSTOM_USER=296212
      - CUSTOM_PASSWORD=G2025-2379
      - CUSTOM_PORT=3000
      - CUSTOM_HTTPS_PORT=3001
      - TZ=America/Chicago
      - SELKIES_ENCODER=jpeg
      - SELKIES_FRAMERATE=10-20
      - SELKIES_JPEG_QUALITY=60
      - SELKIES_MANUAL_WIDTH=1024
      - SELKIES_MANUAL_HEIGHT=768
      - SELKIES_USE_CPU=true
    volumes:
      - cura-config:/root/.local/share/cura
      - cura-models:/root/models
    shm_size: '512mb'
    mem_limit: "920m"
    cpus: "1.9"
    restart: unless-stopped

volumes:
  cura-config:
  cura-models:
