version: '3.8'

services:
  cura:
    build: .
    container_name: cura
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - /config
    ports:
      - 3000:3000
      - 3001:3001
    shm_size: 2gb
    restart: unless-stopped
